<!DOCTYPE html>
<html lang="en">

<head>
	<title>Husky Banking</title>
	<link rel="stylesheet" href="/static/base.css">
</head>

<body style="background-image: url('static/uconnStorrs.jpg'); background-repeat: no-repeat;">
	<form id="mainHandler" method="post" action="/signIn" style="background-image: url('static/husky_qa.jpg');">
		<h1 id="loginHeader">Husky Banking</h1>
		<p id="slogan">A bank where you know your money is in the right paws!</p>
	
		<p id="userInput0"> <label for="username">Username</label>: <input id="username" name="username" required size="32" type="text" value=""> </p>

		<p id="passInput1"> <label for="password">Password</label>: <input id="password" name="password" required size="32" type="password" value=""> </p>

		<p id="signIn"><input id="submit" name="submit" type="submit" value="Sign In"></p>
		
		<p id="customPage"> <input id="customPage" name="customPage" type="submit" value="Custom Page"></p>
		
		
    <div id="johnathan"></div>

	<script src="imageJS.js"></script>

    <script src="/static/q6.js"></script>
	

	</form>
</body>
</html> 